@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  background: url(../img/1555172.jpg);
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
  color: wheat;
  font-family: monospace;
  text-align: center;
}

footer {
  background-color: rgb(211, 164, 77);
}